<div class="wrapper">
  <div class="container-button">
    <button mat-raised-button class="btn" color="accent" (click)="openAddDialog()">Add a Company Staff</button>
    <table mat-table [dataSource]="mentors" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.last_name }} {{ element.first_name }}
          {{ element.civility }}
        </td>
      </ng-container>

      <ng-container matColumnDef="user_type">
        <th mat-header-cell *matHeaderCellDef>User Type</th>
        <td mat-cell *matCellDef="let element">
          {{ element.company.user_type }}
        </td>
      </ng-container>

      <ng-container matColumnDef="entity">
        <th mat-header-cell *matHeaderCellDef>Entity</th>
        <td mat-cell *matCellDef="let element">{{ element.company.name }}</td>
      </ng-container>

      <ng-container matColumnDef="user_status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <ng-container *matCellDef="let element">
          <td mat-cell *ngIf="element.user_status == 'pending'">
            <mat-icon aria-hidden="false" style="color: #000"
              >check_circle</mat-icon
            >
          </td>
          <td mat-cell *ngIf="element.user_status == 'active'">
            <mat-icon aria-hidden="false" style="color: #008000"
              >check_circle</mat-icon
            >
          </td>
        </ng-container>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon aria-hidden="false" style="color: #fff">edit</mat-icon>
          <mat-icon aria-hidden="false" style="color: #fff">mail</mat-icon>
          <mat-icon aria-hidden="false" style="color: #fff">close</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>


  </div>
</div>
