<div class="dialog-wrapper">
<h1 mat-dialog-title>Add Company Staff</h1>
<mat-dialog-content>
  <p>Email</p>
  <div>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email" />
  </mat-form-field>
  <mat-radio-group aria-label="Civility" style="display: block;" [(ngModel)]="data.civility">
    <mat-label style="margin-right: 20px;">Civility</mat-label>
    <mat-radio-button value="male" style="margin-right: 15px;">Mr</mat-radio-button>
    <mat-radio-button value="female" >Mrs</mat-radio-button>
  </mat-radio-group>
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]="data.first_name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="data.last_name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Position</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Office Phone</mat-label>
    <input matInput/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Direct Line</mat-label>
    <input matInput/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mobile Phone</mat-label>
    <input matInput/>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select entity</mat-label>
    <mat-select [(ngModel)]="data.selectedEntity">
      <mat-option value="option1">Company</mat-option>
      <mat-option value="option2">Non Company</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select company</mat-label>
    <mat-select [(ngModel)]="data.selectedCompany">
      <mat-option value="option1">McD</mat-option>
      <mat-option value="option2">Coca cola</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select User Type</mat-label>
    <mat-select [(ngModel)]="data.selectedUserType">
      <mat-option value="option1">Mentor</mat-option>
      <mat-option value="option2">HR</mat-option>
    </mat-select>
  </mat-form-field>
</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-raised-button
    color="accent"
    mat-dialog-close
    tabindex="-1"
    (click)="submit()"
  >
    {{ submitButtonText }}
  </button>
  <button mat-raised-button color="primary" mat-dialog-close tabindex="-1">
    {{ cancelButtonText }}
  </button>
</mat-dialog-actions>
</div>
